
<p>Choose your side wisely...</p>
<form action="">
  <label for="faction">Faction:</label>
  <select id="faction">
    <option disabled>Choose side</option>
    <option *ngFor="let fac of factions">{{ fac.name }}</option>
  </select> <br>
  <label for="name">Name:</label>
  <input type="text" id="name"><br>
  <label for="vehicleGroup">Vehicle group:</label>
  <select name="vehicleGroup" id="vehicleGroup">
    <option disabled>Choose vehicle group</option>
    <option name="vehicleGroup" value="Air" (select)="getVehicleGroups('Air')" [(ngModel)]="this.vehicleGroup">Air </option>
    <option name="vehicleGroup" value="Sea" (select)="getVehicleGroups('Sea')" [(ngModel)]="this.vehicleGroup">Sea</option>
    <option name="vehicleGroup" value="Land" (select)="getVehicleGroups('Land')" [(ngModel)]="this.vehicleGroup">Land</option>
  </select>{{ vehicleGroup }}<br>
  <label for="vehicleType">Vehicle type:</label>
  <select id="vehicleType">
    <option disabled>Choose vehicle type</option>
    <option *ngIf="vehicleGroup ==='Air'"></option>
  </select><br>
  <label for="vehicleModel">Vehicle model:</label>
  <select id="vehicleModel">
    <option disabled>Choose vehicle model</option>
    <!-- <option *ngFor="let vm of vehicleTypes">{{ vm.vehicleModel }}</option> -->
  </select><br>
  <label for="gear">Gear:</label>
  <input type="text" id="gear"><br>
</form>
<button (click)="getVehicleGroups(vehicleTypes)">klikni2</button>
