<h1>
  Welcome to the apocalypse!
</h1>
<p>A war between Autobots and Decepticons is just around the corner.. </p>
<ul>
  <li *ngFor="let fac of factions">
    <span>{{ fac.name }}</span>  <br>
    <span *ngFor="let transformer of transformers">
      <span *ngIf="transformer.factionsId == fac.id">
        <span>
          {{ transformer.name }} / {{ transformer.vehicleGroup }} / {{ transformer.vehicleType }} /
          {{ transformer.vehicleModel }} / {{ transformer.gear }} / {{ transformer.status }} / {{ transformer.factionsId }}
        </span>
        <form action="">
          <input type="radio" name="status" value="ok" checked>OK
          <input type="radio" name="status" value="injured">INJURED
          <input type="radio" name="status" value="mia">MIA
        </form>

      </span>
    </span><br>
  </li>
</ul>
<!--
<ul class="grid grid-pad">
  <li *ngFor="let transformer of transformers" >
    <span>{{ transformer.id}} </span> {{ transformer.name }} / {{ transformer.vehicleGroup }} / {{ transformer.vehicleType }} /
    {{ transformer.vehicleModel }} / {{ transformer.gear }} / {{ transformer.status }} / {{ transformer.factionsId }}
    <form action="">
      <input type="radio" name="status" value="ok" checked>OK
      <input type="radio" name="status" value="injured">INJURED
      <input type="radio" name="status" value="mia">MIA
    </form>
  </li>
</ul>
-->
<button (click)="getMaxId()">Max id</button>
