<div class="container">
    <div class="row">
        <h1>
            Welcome to Cybertron!
        </h1>
    </div>
    <div class="row">
        <label for=""></label>
        <input type="text" placeholder="Search by name" [(ngModel)]="name">
        <select name="selectedFaction" id="faction" [(ngModel)]="faction">
            <option name="selectedFaction" value="All" selected>All</option>
            <option name="selectedFaction" *ngFor="let fac of factions" [value]="fac.name">{{ fac.name }}</option>
        </select>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li *ngFor="let fac of factions | filter: ( faction !='All' || '') && faction">
                <span class="list-group-item active">{{ fac.name }}</span>
                <span *ngFor="let transformer of transformers | filter:name">
                    <span *ngIf="transformer.factionsId == fac.id">
                        <span class="list-group-item">
                            {{ transformer.name }}  {{ transformer.status }}  <a [routerLink]="['/details/',transformer.id]">Details</a>
                        </span>
                        <form name="{{ transformer.id }}" class="list-group-item">
                            <input (click)="updateStatus(transformer.id, 'OK')" type="radio" name="status" value="OK" [(ngModel)]="transformer.status">OK
                            <input (click)="updateStatus(transformer.id, 'INJURED')" type="radio" name="status" value="INJURED" [(ngModel)]="transformer.status">INJURED
                            <input (click)="updateStatus(transformer.id, 'MIA')" type="radio" name="status" value="MIA" [(ngModel)]="transformer.status">MIA
                        </form>
                    </span>
                </span>
                <br>
            </li>
        </ul>
    </div>
</div>

